PORT=4000
HOST=http://localhost
MONGODB_URI=mongodb://localhost:27017
DB_NAME=auth_jobs_db
ACCESS_TOKEN_SECRET=ccc8075fd39c3a29f78b8d8a335768e8fd216fb89483c817705e4b419d2e344b
REFRESH_TOKEN_SECRET=571d7233d6e571d4145969633cfc512bb46cbaf71be7cef8547adff54607f77e

FROM_GMAIL=[CORREOGMAIL]
PASSWORD_GMAIL=[PASSWORD]

//NODE_ENV="prod"

URL_SCRAPPING_SERVICE=http://localhost:3002/api/v1